# Terraform files to ignore
.terraform/
.terraform.lock.hcl
*.tfstate
.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform-key
terraform-key.pub.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.pub
*.tfvars
plain.txt
bastionhost/provider.tf
secret.txt 
**/provider.tf   
eks_me/provider.tf
plan.txt
*.info

