# Terraform files to ignore
.terraform/
.terraform.lock.hcl
*.tfstate
.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform-key
terraform-key.pub.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.pub